<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       Cake.Console.Templates.default.views
 * @since         CakePHP(tm) v 1.2.0.5234
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<div class="<?php echo $pluralVar; ?> container">

	<h2><?php echo "<?php echo __('{$singularHumanName}'); ?>"; ?></h2>
	<div class="btn-group btn-group-lg" style="margin-bottom: 20px;">
		<?php
		echo "\t\t<button class=\"btn btn-default\"><?php echo \$this->Html->link(__('Edit " . $singularHumanName ."'), array('action' => 'edit', \${$singularVar}['{$modelClass}']['{$primaryKey}'])); ?> </button>\n";
		echo "\t\t<button class=\"btn btn-default\"><?php echo \$this->Form->postLink(__('Delete " . $singularHumanName . "'), array('action' => 'delete', \${$singularVar}['{$modelClass}']['{$primaryKey}']), null, __('Are you sure you want to delete # %s?', \${$singularVar}['{$modelClass}']['{$primaryKey}'])); ?> </button>\n";
		echo "\t\t<button class=\"btn btn-default\"><?php echo \$this->Html->link(__('List " . $pluralHumanName . "'), array('action' => 'index')); ?> </button>\n";
		echo "\t\t<button class=\"btn btn-default\"><?php echo \$this->Html->link(__('New " . $singularHumanName . "'), array('action' => 'add')); ?> </button>\n";

		echo "</div>";?>



		<dl>
			<?php
			foreach ($fields as $field) {
				$isKey = false;
				if (!empty($associations['belongsTo'])) {
					foreach ($associations['belongsTo'] as $alias => $details) {
						if ($field === $details['foreignKey']) {
							$isKey = true;
							echo "\t\t<dt><?php echo __('" . Inflector::humanize(Inflector::underscore($alias)) . "'); ?></dt>\n";
							echo "\t\t<dd>\n\t\t\t<?php echo \$this->Html->link(\${$singularVar}['{$alias}']['{$details['displayField']}'], array('controller' => '{$details['controller']}', 'action' => 'view', \${$singularVar}['{$alias}']['{$details['primaryKey']}'])); ?>\n\t\t\t&nbsp;\n\t\t</dd>\n";
							break;
						}
					}
				}
				if ($isKey !== true) {
					echo "\t\t<dt><?php echo __('" . Inflector::humanize($field) . "'); ?></dt>\n";
					echo "\t\t<dd>\n\t\t\t<?php echo h(\${$singularVar}['{$modelClass}']['{$field}']); ?>\n\t\t\t&nbsp;\n\t\t</dd>\n";
				}
			}
			?>
		</dl>

	</div>

	<?php
	if (!empty($associations['hasOne'])) :
		foreach ($associations['hasOne'] as $alias => $details): ?>
	<div class="related container">
		<h3><?php echo "<?php echo __('Related " . Inflector::humanize($details['controller']) . "'); ?>"; ?></h3>
		<?php echo "<?php if (!empty(\${$singularVar}['{$alias}'])): ?>\n"; ?>
		<dl>
			<?php
			foreach ($details['fields'] as $field) {
				echo "\t\t<dt><?php echo __('" . Inflector::humanize($field) . "'); ?></dt>\n";
				echo "\t\t<dd>\n\t<?php echo \${$singularVar}['{$alias}']['{$field}']; ?>\n&nbsp;</dd>\n";
			}
			?>
		</dl>
		<?php echo "<?php endif; ?>\n"; ?>
		<div class="actions">
			<button class="btn-group btn-group-lg">

				<button class="btn btn-default"><?php echo "<?php echo \$this->Html->link(__('Edit " . Inflector::humanize(Inflector::underscore($alias)) . "'), array('controller' => '{$details['controller']}', 'action' => 'edit', \${$singularVar}['{$alias}']['{$details['primaryKey']}'])); ?></button>\n"; ?>


			</div>
		</div>
		<?php
		endforeach;
		endif;
		if (empty($associations['hasMany'])) {
			$associations['hasMany'] = array();
		}
		if (empty($associations['hasAndBelongsToMany'])) {
			$associations['hasAndBelongsToMany'] = array();
		}
		$relations = array_merge($associations['hasMany'], $associations['hasAndBelongsToMany']);
		foreach ($relations as $alias => $details):
			$otherSingularVar = Inflector::variable($alias);
		$otherPluralHumanName = Inflector::humanize($details['controller']);
		?>
		<div class="related container">
			<h3><?php echo "<?php echo __('Related " . $otherPluralHumanName . "'); ?>"; ?></h3>
			<?php echo "<?php if (!empty(\${$singularVar}['{$alias}'])): ?>\n"; ?>
			<table class="table table-hover table-strip">
				<tr>
					<?php
					foreach ($details['fields'] as $field) {
						echo "\t\t<th><?php echo __('" . Inflector::humanize($field) . "'); ?></th>\n";
					}
					?>
					<th class="actions"><?php echo "<?php echo __('Actions'); ?>"; ?></th>
				</tr>
				<?php
				echo "\t<?php foreach (\${$singularVar}['{$alias}'] as \${$otherSingularVar}): ?>\n";
				echo "\t\t<tr>\n";
				foreach ($details['fields'] as $field) {
					echo "\t\t\t<td><?php echo \${$otherSingularVar}['{$field}']; ?></td>\n";
				}

				echo "\t\t\t<td class=\"actions\">\n";
				echo "\t\t\t\t<div class=\"btn-group\">";
					echo "\t\t\t\t\t<button type=\"button\" class=\"btn btn-default dropdown-toggle\" data-toggle=\"dropdown\">
							Actions
							<span class=\"caret\"></span>
						</button>";
					echo "<ul class=\"dropdown-menu\">";
						echo "\t\t\t\t\t\t<li><?php echo \$this->Html->link(__('View'), array('controller' => '{$details['controller']}', 'action' => 'view', \${$otherSingularVar}['{$details['primaryKey']}'])); ?></li>\n";
						echo "\t\t\t\t\t\t<li><?php echo \$this->Html->link(__('Edit'), array('controller' => '{$details['controller']}', 'action' => 'edit', \${$otherSingularVar}['{$details['primaryKey']}'])); ?></li>\n";
						echo "\t\t\t\t\t\t<li><?php echo \$this->Form->postLink(__('Delete'), array('controller' => '{$details['controller']}', 'action' => 'delete', \${$otherSingularVar}['{$details['primaryKey']}']), null, __('Are you sure you want to delete # %s?', \${$otherSingularVar}['{$details['primaryKey']}'])); ?></li>\n";
					echo "</ul>";
				echo "</div>";
				echo "\t\t\t</td>\n";
				echo "\t\t</tr>\n";

				echo "\t<?php endforeach; ?>\n";
				?>
			</table>
			<?php echo "<?php endif; ?>\n\n"; ?>
			<div class="actions btn-group btn-group-lg">
				<button class="btn btn-default">
					<?php echo "<?php echo \$this->Html->link(__('New " . Inflector::humanize(Inflector::underscore($alias)) . "'), array('controller' => '{$details['controller']}', 'action' => 'add')); ?>"; ?> 
				</button>
				<button class="btn btn-default">
					<?php echo "<?php echo \$this->Html->link(__('List " . Inflector::pluralize(Inflector::humanize(Inflector::underscore($alias))) . "'), array('controller' => '{$details['controller']}', 'action' => 'index')); ?>"; ?> 
				</button>
			</div>
		</div>
	<?php endforeach; ?>
